
*.model
model/.DS_Store
model/llama3/.DS_Store
model/llama3/Meta-Llama-3-70B/generation_config.json
model/llama3/Meta-Llama-3-70B/LICENSE
model/llama3/关注github获取最新的中文预训练增强llama3大模型.txt
model/llama3/扫码加入社区在线体验llama3中文大模型.jpg
model/Meta-Llama-3-8B-Instruct/.DS_Store
model/Meta-Llama-3-8B-Instruct/config.json
model/Meta-Llama-3-8B-Instruct/generation_config.json
model/Meta-Llama-3-8B-Instruct/LICENSE
model/Meta-Llama-3-8B-Instruct/model-00001-of-00004.safetensors
model/Meta-Llama-3-8B-Instruct/model-00002-of-00004.safetensors
model/Meta-Llama-3-8B-Instruct/model-00003-of-00004.safetensors
model/Meta-Llama-3-8B-Instruct/model-00004-of-00004.safetensors
model/Meta-Llama-3-8B-Instruct/model.safetensors.index.json
model/Meta-Llama-3-8B-Instruct/original/params.json
model/Meta-Llama-3-8B-Instruct/README.md
model/Meta-Llama-3-8B-Instruct/special_tokens_map.json
model/Meta-Llama-3-8B-Instruct/tokenizer.json
model/Meta-Llama-3-8B-Instruct/tokenizer_config.json
model/Meta-Llama-3-8B-Instruct/USE_POLICY.md
model/Meta-Llama-3-8B-Instruct/关注github获取最新的中文预训练增强llama3大模型.txt
model/Meta-Llama-3-8B-Instruct/扫码加入社区在线体验llama3大模型.jpg
