
*.model
model/.DS_Store
model/llama3/.DS_Store
model/llama3/Meta-Llama-3-70B/generation_config.json
model/llama3/Meta-Llama-3-70B/LICENSE
model/llama3/关注github获取最新的中文预训练增强llama3大模型.txt
model/llama3/扫码加入社区在线体验llama3中文大模型.jpg
model/Meta-Llama-3-8B-Instruct/.DS_Store
model/Meta-Llama-3-8B-Instruct/config.json
model/Meta-Llama-3-8B-Instruct/generation_config.json
model/Meta-Llama-3-8B-Instruct/LICENSE
model/Meta-Llama-3-8B-Instruct/model-00001-of-00004.safetensors
model/Meta-Llama-3-8B-Instruct/model-00002-of-00004.safetensors
model/Meta-Llama-3-8B-Instruct/model-00003-of-00004.safetensors
model/Meta-Llama-3-8B-Instruct/model-00004-of-00004.safetensors
model/Meta-Llama-3-8B-Instruct/model.safetensors.index.json
model/Meta-Llama-3-8B-Instruct/original/params.json
model/Meta-Llama-3-8B-Instruct/README.md
model/Meta-Llama-3-8B-Instruct/special_tokens_map.json
model/Meta-Llama-3-8B-Instruct/tokenizer.json
model/Meta-Llama-3-8B-Instruct/tokenizer_config.json
model/Meta-Llama-3-8B-Instruct/USE_POLICY.md
model/Meta-Llama-3-8B-Instruct/关注github获取最新的中文预训练增强llama3大模型.txt
model/Meta-Llama-3-8B-Instruct/扫码加入社区在线体验llama3大模型.jpg
军棋/models/infer_model.pth
军棋_副本.zip
军棋_副本/models/infer_model.pth
my-local-image-latest/repositories
my-local-image-latest/manifest.json
my-local-image-latest/f3a05309fe3e06dcce47cb4e9198177dc7660c9b597eff643bf866136645a89e.json
my-local-image-latest/d857c26db5cea3f6734238331f1562a69a2e57d6e524e12e617c9f52854b817a/VERSION
my-local-image-latest/d857c26db5cea3f6734238331f1562a69a2e57d6e524e12e617c9f52854b817a/layer.tar
my-local-image-latest/d857c26db5cea3f6734238331f1562a69a2e57d6e524e12e617c9f52854b817a/json
my-local-image-latest/d4a475ef6af11fbf13399d42277fd7967679b089ba4dcf862c6bf9040ed2038b/VERSION
my-local-image-latest/d4a475ef6af11fbf13399d42277fd7967679b089ba4dcf862c6bf9040ed2038b/layer.tar
my-local-image-latest/d4a475ef6af11fbf13399d42277fd7967679b089ba4dcf862c6bf9040ed2038b/json
my-local-image-latest/a0407dd7549e2065fa22296397f89ecbb66a4ab3e9209e9cc1aff8ebb76a552d/VERSION
my-local-image-latest/a0407dd7549e2065fa22296397f89ecbb66a4ab3e9209e9cc1aff8ebb76a552d/layer.tar
my-local-image-latest/a0407dd7549e2065fa22296397f89ecbb66a4ab3e9209e9cc1aff8ebb76a552d/json
my-local-image-latest/915194c49f34a2bcbef45efa94a71d48e888fe49fea90692fd00c81a117e5c1e/VERSION
my-local-image-latest/915194c49f34a2bcbef45efa94a71d48e888fe49fea90692fd00c81a117e5c1e/layer.tar
my-local-image-latest/915194c49f34a2bcbef45efa94a71d48e888fe49fea90692fd00c81a117e5c1e/json
my-local-image-latest/89ab4709e9bc1cad7537eac5e4f89192e8b237ea5f66c33de5d84087cb2539a9/VERSION
my-local-image-latest/89ab4709e9bc1cad7537eac5e4f89192e8b237ea5f66c33de5d84087cb2539a9/layer.tar
my-local-image-latest/89ab4709e9bc1cad7537eac5e4f89192e8b237ea5f66c33de5d84087cb2539a9/json
my-local-image-latest/8377b9112c7987e1d2e0a7af6724c9209367a62727d70c03079bf25ab2b1d549/VERSION
my-local-image-latest/8377b9112c7987e1d2e0a7af6724c9209367a62727d70c03079bf25ab2b1d549/layer.tar
my-local-image-latest/8377b9112c7987e1d2e0a7af6724c9209367a62727d70c03079bf25ab2b1d549/json
my-local-image-latest/83575d5324c00ed27344f408aeb44e674000ad326019dc1875d9503a9c6cff71/VERSION
my-local-image-latest/83575d5324c00ed27344f408aeb44e674000ad326019dc1875d9503a9c6cff71/layer.tar
my-local-image-latest/83575d5324c00ed27344f408aeb44e674000ad326019dc1875d9503a9c6cff71/json
my-local-image-latest/59b6fbd4e43892ea30437712544fddb79dfc07a01196079846816d0fd8b2cfa5/VERSION
my-local-image-latest/59b6fbd4e43892ea30437712544fddb79dfc07a01196079846816d0fd8b2cfa5/layer.tar
my-local-image-latest/59b6fbd4e43892ea30437712544fddb79dfc07a01196079846816d0fd8b2cfa5/json
my-local-image-latest/4fe48a3e28f37e01c9f622e6f202563e6b1d18e1b238cf4669ea350e8788c385/VERSION
my-local-image-latest/4fe48a3e28f37e01c9f622e6f202563e6b1d18e1b238cf4669ea350e8788c385/layer.tar
my-local-image-latest/4fe48a3e28f37e01c9f622e6f202563e6b1d18e1b238cf4669ea350e8788c385/json
my-local-image-latest/356a75e09d0b51e1824372bd033cfa9b770f11cf1d78b11995ae3ace52d0baa2/VERSION
my-local-image-latest/356a75e09d0b51e1824372bd033cfa9b770f11cf1d78b11995ae3ace52d0baa2/layer.tar
my-local-image-latest/356a75e09d0b51e1824372bd033cfa9b770f11cf1d78b11995ae3ace52d0baa2/json
my-local-image-latest.tar
军棋.zip
军棋_gpu/models/infer_model.pth
llama-微调/.DS_Store
llama-微调/llama3/.DS_Store
llama-微调/llama3/Meta-Llama-3-70B/generation_config.json
llama-微调/llama3/Meta-Llama-3-70B/LICENSE
llama-微调/llama3/关注github获取最新的中文预训练增强llama3大模型.txt
llama-微调/llama3/扫码加入社区在线体验llama3中文大模型.jpg
llama-微调/Meta-Llama-3-8B-Instruct/.DS_Store
llama-微调/Meta-Llama-3-8B-Instruct/config.json
llama-微调/Meta-Llama-3-8B-Instruct/generation_config.json
llama-微调/Meta-Llama-3-8B-Instruct/LICENSE
llama-微调/Meta-Llama-3-8B-Instruct/model-00001-of-00004.safetensors
llama-微调/Meta-Llama-3-8B-Instruct/model-00002-of-00004.safetensors
llama-微调/Meta-Llama-3-8B-Instruct/model-00003-of-00004.safetensors
llama-微调/Meta-Llama-3-8B-Instruct/model-00004-of-00004.safetensors
llama-微调/Meta-Llama-3-8B-Instruct/model.safetensors.index.json
llama-微调/Meta-Llama-3-8B-Instruct/original/params.json
llama-微调/Meta-Llama-3-8B-Instruct/README.md
llama-微调/Meta-Llama-3-8B-Instruct/special_tokens_map.json
llama-微调/Meta-Llama-3-8B-Instruct/tokenizer.json
llama-微调/Meta-Llama-3-8B-Instruct/tokenizer_config.json
llama-微调/Meta-Llama-3-8B-Instruct/USE_POLICY.md
llama-微调/Meta-Llama-3-8B-Instruct/关注github获取最新的中文预训练增强llama3大模型.txt
llama-微调/Meta-Llama-3-8B-Instruct/扫码加入社区在线体验llama3大模型.jpg
llama-微调/player.py
llama-微调/sentence-transformers/all-MiniLM-L6-v2/1_Pooling/config.json
llama-微调/sentence-transformers/all-MiniLM-L6-v2/config.json
llama-微调/sentence-transformers/all-MiniLM-L6-v2/config_sentence_transformers.json
llama-微调/sentence-transformers/all-MiniLM-L6-v2/model.safetensors
llama-微调/sentence-transformers/all-MiniLM-L6-v2/modules.json
llama-微调/sentence-transformers/all-MiniLM-L6-v2/README.md
llama-微调/sentence-transformers/all-MiniLM-L6-v2/sentence_bert_config.json
llama-微调/sentence-transformers/all-MiniLM-L6-v2/special_tokens_map.json
llama-微调/sentence-transformers/all-MiniLM-L6-v2/tokenizer.json
llama-微调/sentence-transformers/all-MiniLM-L6-v2/tokenizer_config.json
llama-微调/sentence-transformers/all-MiniLM-L6-v2/vocab.txt
llama-微调/微调.py
军棋_cpu.zip
